* {
    box-sizing: border-box;
  }
  
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  
  /* background-color: #333; */
  } 
  .page {
    height: 100%;
  
  }
  .content {
  
    /* height: 200%; // make higher or you'll see background when rotated */
    transform-origin: top left;
    transition: transform .7s cubic-bezier(1.000, 0.005, 0.240, 1.000);
    
    /* // styling */
    background-image: url(./Images/profile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:700px;
  }
  .content_inner {
   
    /* // essential */
     height: 50%; /*// compensate for higher .content */
    
    /* // styling */
    padding: 50px 20%;
  
  }
  
  .section-a{
    margin-top:50px;
    
    /* box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.5);
    background-color:#333; */
    background: rgba(71, 69, 69, 0.5);
  
  }
  /* basically all styling from now on */
  .menu_toggle {
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    width: 100px;
    height: 80px;
    background-color: #F37272;
    border-bottom-right-radius: 100%;
  
  }
   .menu_toggle i:active {
      
        opacity: 0.8
      
    }  
    .menu_toggle i {
      color: #f0f0f0;
    }
    .menu_open,
    .menu_close {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -15px;
      margin-left: -12px;
      transition: transform .7s cubic-bezier(1.000, 0.005, 0.240, 1.000);
    }
    .menu_open {
      transform-origin: -100px -100px;
    }
    .menu_close {
      transform: rotate(20deg);
      transform-origin: -100px -160px;
    }
  
  .menu_items {
    position: fixed;
    bottom: 0;
    left: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  .menu{
    display: none;
  }
    li {
      height: 60px;
      margin-bottom: 30px;
      transform: translateX(-300px);
      transition: transform .7s 0s cubic-bezier(1.000, 0.005, 0.240, 1.000);
    }
      li:nth-child(2){
        margin-left: 40px;
      }
      li:nth-child(3){
        margin-left: 80px;
      
    }
    a {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: darken(#f0f0f0, 30%);
      transition: color .2s;
    }
      .icon {
        position: relative;
        display: inline-block;
        margin-right: 25px;
        color: #f0f0f0;
      }
        .icon:after{
          position: absolute;
          top: 50%;
          left: 50%;
          content: '';
          display: block;
          width: 60px;
          height: 60px;
          margin-left: -33px;
          margin-top: -32px;
          border-radius: 100%;
          border: 2px solid #f0f0f0;
          transition: border-color .2s;
        
      }
      
      .icon:hover {
        color: #f0f0f0;
      }
        .icon :after {
            border-color: #F37272;
          }
        
      
      
        .icon {
          color: #F37272;
        }
      
  
  
  /* Let's open up the menu */
  .shazam .content {
      transform: rotate(30deg);
    }
    
    /* // this will show hidden content overflow when rotated,
    // but will result in a jump, if you've already scrolled down the content
    // plus, you will lose your current reading position
    // fixable with JS, not gonna bother */
    
    /*.content_inner {
      height: 100%;
    }*/
    
    .menu_open {
      transform: rotate(-20deg);
    }
    .menu_close {
      transform: rotate(0);
    }
    
    .menu_items li {
        transform: translateX(0);
        transition: transform .35s .45s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    }
    .menu_items li:nth-child(2){
          transition-delay: .47s;
        }
        .menu_items li:nth-child(3){
          transition-delay: .48s;
        }
      
    
  
  
  /* // misc */
  h1 {
   font-family:  'Oswald', 'sans-serif';
    text-align: center;
    font-style: italic;
    color:white;
    padding-top:10px;
  }
  
  .content hr{
  width:50%;
  }
  .content p{
    font-size:2rem;
    text-align:center;
    letter-spacing: 5px;
    font-style: italic;
    color:wheat;
  padding-bottom:20px;
  }
  .smiley-container i{
    margin-left:22rem;
  }
  .skills p{
    color:white;
    font-style: italic;
  }