.burger > span {
    text-transform: none;
    opacity: .5;
    font-weight: 300;
    font-size: 12px;
  }
 
 .Navigation input + label {
    position: fixed;
    top: 40px;
    right: 70%;
    height: 20px;
    width: 20px; 
    z-index: 5;
 }
 .Navigation input + label  span {
      position: absolute;
      width: 100%;
      height: 2px;
      top: 50%;
      margin-top: -15px;
      right: 280px;
      display: block;
      background: white;
      transition: .5s;
  
    }
    .Navigation input + label span:first-child {
      top: 4px; 
    }
    .Navigation input + label span:last-child {
      top: 16px; 
    }  
       
  
    .Navigation input + label:hover {
    cursor: pointer;
  }
  
.Navigation input:checked + label span {
      opacity: 0;
      top: 50%;
    }
    
   .Navigation input:checked + label span:first-child {
        
      opacity: 1;
      transform: rotate(405deg);
    }
  
  .Navigation input:checked + label span:last-child {
      opacity: 1;
      transform: rotate(-405deg);
    }
   
  
  .Navigation input ~ .navbar {
    position: fixed;
    top: 0;
    /* right: 120px; */
    width: 100%;
    height: 60px;
    z-index: 3;
    transition: .5s;
    transition-delay: .5s;
    overflow: hidden;
    


  }

 
  .Navigation input ~ nav  ul {
      position: absolute;
      left: 60%;
      right: 20%;
    top:3%;

    
  }
  .Navigation input ~ nav  ul li {
        opacity: 0;
        transition: .5s;
        transition-delay: 0s;
        list-style: none;
        display: inline;
        margin:10px;
        transition: width 2s;
        transition-timing-function: ease;
        /* background: rgba(71, 69, 69, 0.5);  */


}

        .Navigation input ~ nav  ul li a {
          text-decoration: none;
          text-transform: uppercase;
          color: white;
          font-weight: normal;
          font-family: sans-serif;
          padding: 10px;
          list-style: none;
          display: inline;
          font-style: italic;
          font-family: 'Oswald', sans-serif;
          font-size:1.5rem;



        }
        .Navigation input ~ nav  ul li a:hover {
text-decoration:underline;

        }

      .Navigation  input:checked ~ nav { 
        
            transition-delay: 0s;
            background: rgba(71, 69, 69, 0.5); 

      }
      .Navigation  input:checked ~ nav ul li {
                opacity: 1;
                transition-delay: .5s;
        

                
              }
              .Navigation  input:checked ~ nav ul li {
list-style: none;
}
         
              
          input[type='checkbox'] {
              position: fixed;
              display: none;
            }
      


